@using GradeConverter.Shared
@inject HttpClient Http

<MudText Typo="Typo.h4" class="my-3">South African Sport Grades for @Grade:</MudText>

@if(grades != null) {
    @foreach (var grade in grades)
    {
        <MudCard Elevation=1 class="mb-3">
             <MudCardHeader>
                <CardHeaderContent>
                    <MudText><span>@grade.ToGrade</span></MudText>
                </CardHeaderContent>
             </MudCardHeader>

             <MudCardContent>
                <MudText Typo="Typo.body2">is a <span>@grade.FromGrade</span> in <span>@grade.FromGradeSystemName</span></MudText>
            </MudCardContent>
        </MudCard>
    }
}

@code {

    [Parameter]
    public string Grade { get; set; }

    [Parameter]
    public EventCallback<string> GradeChanged { get; set; }


    [Parameter]
    public bool Sport { get; set; } = true;

    [Parameter]
    public EventCallback<bool> SportChanged { get; set; }

    private GradeMatch[] grades;
    
    private void GetGrades() {       
    }

    protected override async Task OnParametersSetAsync()
    {
        grades = await Http.GetFromJsonAsync<GradeMatch[]>( 
            Sport? $"GradeConversion/GetSouthAfricanRouteGrade?grade={Grade}" 
            : $"GradeConversion/GetSouthAfricanBoulderGrade?grade={Grade}");
    }   
}