@using GradeConverter.Shared
@inject HttpClient Http

@if(grades != null) {
    @if(!grades.Any()) {
        <p>No conversions found :(</p>
    }

    @foreach (var grade in grades)
    {
        <MudCard Elevation=1 class="mb-3">
             <MudCardHeader>
                <CardHeaderContent>
                    <MudChip Color="GetTypeColor(grade.Type)">@grade.ToGrade</MudChip> 
                    <MudText Inline=true Typo="Typo.body2">is a <span>@grade.FromGrade</span> in <span>@grade.FromGradeSystemName</span></MudText>
                </CardHeaderContent>
             </MudCardHeader>
        </MudCard>
    }
}
else {
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
<br>


@code {

    [Parameter]
    public string Grade { get; set; }

    [Parameter]
    public EventCallback<string> GradeChanged { get; set; }

    private GradeMatch[] grades;
    
    private void GetGrades() {       
    }

    public MudBlazor.Color GetTypeColor(string type) {
        return type == "Boulder" ? Color.Warning : Color.Info;

    }

    protected override async Task OnParametersSetAsync()
    {
        grades = await Http.GetFromJsonAsync<GradeMatch[]>($"GradeConversion/GetSouthAfricanGrade?grade={System.Net.WebUtility.UrlEncode(Grade)}");
    }   
}